body{
	background-color:#fae3d9;
	color: rgb(50,50,50);
	font-family: helvetica;
	font-size: 16px;
}

h1{
	color:#ffb6b9;
   	font-size: 50px;
	font-family: 'Dancing Script', cursive;
}

h2{
	color: #61c0bf;
	font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}

a{text-decoration: none;
	color:#bbded6;
	font-weight:bold;
}

a:hover{color:black;}

.container{
	width: 700px;
	margin: 40px auto;
}

.card-white{
	background-color:white;
	padding:40px;
	box-shadow:0px 10px 30px rgba(0,0,0,0.1); 
	border-radius: 4px;
	margin:20px 0px;
	text-align: center;
}

.image{
	border-radius:50px;
}

.btn-blue{
	background-color: #bbded6;
	color:white;
	padding:15px 20px;
	border-radius: 4px;
}

.btn-blue:hover{
	background-color: #ffb6b9;
	color:white;
	padding:15px 20px;
	border-radius: 4px;
}

.list-inline{
	list-style:none;
	padding-left:0px;
}

.list-inline li {
	display: inline;
	padding:10px;
}

.list-inline i {
	font-size: 50px;
	color: #bbded6;
}

.list-inline i:hover {
	font-size: 50px;
	color:#ffb6b9;
}

#introduction p{
	margin-bottom: 40px;
}